#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9bbcff;
  height: 10%;
}

::-webkit-scrollbar-track {
  background-color: rgba(158, 158, 158, 0.307);
}
