@font-face {
  font-family: "bright-melody";
  src: url("./fonts/bright-melody.woff2") format("woff2"),
    url("./fonts/bright-melody.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clash-display";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #9bbcff;
  height: 10%;
}

::-webkit-scrollbar-track {
  background-color: rgba(212, 212, 212, 0.421);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay--fade {
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: "white";
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.loader--fade {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-family: "bright-melody";
  color: antiquewhite;
  font-size: 6rem;
  text-shadow: 2px 2px 2px #021bbb;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--fade .logo {
  top: 42px;
  transform: scale(0.5);
  transform-origin: center top;
}

.intro__scroll {
  opacity: 0;
  font-family: "clash-display";
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 100px;
}

.intro--fade .intro__scroll {
  animation: fadeIn 2s ease-in-out 1.5s forwards;
}

.overlay--scroll .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "clash-display";
  font-size: 1.25rem;
  color: "#3535cc";
  border-radius: 32px;
  display: inline-block;
  cursor: pointer;
  margin-top: 220px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.explore:hover {
  color: white;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  border-radius: 100%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translate(-50%, 50%);
}

.intro--fade .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.outro--appear {
  opacity: 1;
}

.outro__text {
  font-family: "clash-display";
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

/* animation */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* responsive */

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
    text-align: center;
  }

  .intro--fade .logo {
    top: 24px;
    transform: scale(0.75);
    transform-origin: center top;
  }

  .intro__scroll {
    top: 70px;
    font-size: 0.75rem;
  }

  .explore {
    margin-top: 150px;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
  }

  .outro__text {
    font-size: 1rem;
  }
}
